.btn{
    cursor: pointer;
    border: none;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    &--medium{
        padding: 6px 12px;
    }
    &--gray{
        background-color: $bgr-white-dark;
    }
    &--blues{
        color: $text-white;
        background-color: $bgr-blues;
    }
    &--icon-text{
        @include flexbox(center);
        gap: 4px;
    }
    &--none-padding{
        padding: 0;
    }
    &--text-red{
        color: $text-red;
    }
    & svg {
        path{
          fill: currentColor; 
        }
    }
}