$bgr-blues: #3E6DDA;
$bgr-white: #FFFFFF;
$bgr-white-dark: #E9E9EC;
$bgr-white-medium:  #F6F6F8;
$bgr-purple: #7B61FF;
$bgr-gray: #B4B4BE;
$bgr-gray-medium: #828292;
$text-black-light: #3F3F49;
$text-black-dark: #111111;
$text-black: #141417;
$text-black-medium: #09142F;
$text-white: #FFFFFF;
$text-red: #EC2B08;
$text-blues: #3E6DDA;
$text-gray: #828292;
$text-gray-light: #9B9BA8;
$text-gray-dark-1: #6B6B7B;
$text-gray-dark-2: #555562;


$width: 1440px;
$height: 900px;